.menu {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 0 40px;

    &.active {
        transform: translateX(0);
    }
    @include tablet {
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 0;
        right: -40px;
        height: 100vh;
        transform: translateX(150%);
        transition: transform 0.5s ease 0s;
        z-index: 100;

        li { 
            font-size: 1.5rem;
            margin: 1.5rem 0;
        }
        & > i {
            position: absolute;
            left: 10%;
            top: 5%;
            font-size: 1.5rem;
        }
    }
    &-toggle {
        display: none;

        @include tablet {
            display: block;
            margin-left: 2rem;
            font-size: 2rem;
        }
    }
    &-item {
        cursor: pointer;
        line-height: calc(19 / 16);
    }
}

.toggle-close {
    display: none;

    @include tablet {
        display: block;
    }
}