:root {
    --primary-font: 'Roboto', 'Sora', sans-serif;
    --color-primary: #F53838;
    --color-bg-primary: #F6F6F6;
    --color-text-primary: #0B132A;
    --text-gray: #4F5665;
    --color-icon: #2FAB73;
}